@page
@using Atomic.UnifiedAuth.Models
@model Atomic.UnifiedAuth.Pages.Account.Login

@{
  ViewData["Title"] = _localizer["Login"];
}

<div class="box">
  <div class="has-text-centered is-size-1 mb-3">@_localizer["Login"]</div>

  @await Html.PartialAsync("Shared/_ValidationSummary", ModelState)

  <form method="post">
    <div class="field">
      <label asp-for="Input.UsernameOrEmailAddress" class="label"></label>
      <div class="control has-icons-left">
        <input asp-for="Input.UsernameOrEmailAddress" class="input">
        <span class="icon is-small is-left">
          <svg aria-hidden="true" class="iconfont">
            <use xlink:href="#icon-user"></use>
          </svg>
        </span>
      </div>
      <span asp-validation-for="Input.UsernameOrEmailAddress" class="help is-danger"></span>
    </div>

    <div class="field">
      <label asp-for="Input.Password" class="label"></label>
      <div class="control has-icons-left">
        <input asp-for="Input.Password" class="input">
        <span class="icon is-small is-left">
          <svg aria-hidden="true" class="iconfont">
            <use xlink:href="#icon-lock"></use>
          </svg>
        </span>
      </div>
      <span asp-validation-for="Input.Password" class="help is-danger"></span>
    </div>

    <div class="field">
      <label asp-for="Input.RememberMe" class="checkbox">
        <input asp-for="Input.RememberMe" type="checkbox" />
        <span>@_localizer["Remember me"]</span>
      </label>
    </div>

    <button class="button is-primary is-rounded is-fullwidth">
      @_localizer["Login"]
    </button>
  </form>

  @await Html.PartialAsync("Shared/_ExternalLogin", new ExternalLoginPartialModel
  {
    ExternalSchemes = Model.ExternalSchemes,
    Action = "login",
    ReturnUrl = Model.ReturnUrl
  })

  <div class="has-text-centered">
    <a asp-page="./Register"
       asp-route-returnUrl="@Model.ReturnUrl"
       class="is-size-6 mx-1">
      @_localizer["Register"]
    </a>
    <a asp-page-handler="Cancel"
       asp-route-returnUrl="@Model.ReturnUrl"
       class="is-size-6 mx-1">
      @_localizer["Cancel"]
    </a>
    <a asp-page="./ForgotPassword"
       asp-route-returnUrl="@Model.ReturnUrl"
       class="is-size-6 mx-1">
      @_localizer["Forgot password"]
    </a>
  </div>
</div>
