@page
@using Atomic.AspNetCore.Users
@inject ICurrentUser _currentUser;

<div class="is-flex is-justify-content-center">
  <figure class="image is-128x128">
    <img class="is-rounded" src="@_currentUser.AvatarUrl" alt="avatar">
  </figure>
</div>

<div class="content">
  <ul>
    <li>@_localizer["Name"]: @_currentUser.UserName</li>
    <li>@_localizer["Email"]: @_currentUser.Email</li>
    <li>@_localizer["Phone"]: @(_currentUser.PhoneNumber ?? "unspecified")</li>
  </ul>
</div>

<div class="has-text-centered">
  <a asp-page="Account/Logout" class="button is-primary">
    @_localizer["Logout"]
  </a>
</div>
